*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}
//vars#EDCBD2, #80C4B7, #E3856B
$green:#80C4B7;
$light: #EDCBD2;
$dark: #E3856B;
//
.game{
  min-height: 100vh;
  .header{
    width: 100%;
    padding: 10px;
    background-color: $green;
    color: $light;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
  }
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    background-color: $light;
    width: 100%;
    height: calc(100vh - 86px);
    display: flex;
    flex-direction: column;
    align-items: center;
    .welcome{
      font-size: 30px;
      padding: 10px;
      margin-bottom: 50px;
    }
    .word{
      margin-bottom: 10px;
      font-size: 30px;
      font-weight: bold;
      color: $dark;
    }
    .time{
      margin-bottom: 40px;
      display: none;
      font-weight: bold;
      color: red;
    }
    .btn{
      background-color: black;
      color: red;
      text-align: center;
      font-size: 25px;
      font-weight: bold;
      padding: 5px 30px;
      border-radius: 5px;
      cursor: pointer;
    }
    input[type="text"]{
      width: 80%;
      max-width: 300px !important;
      height: 50px;
      display: none;
      outline: none;
      border: none;
      text-align: center;
    }
    .nextwords{
      display: none;
      width: 50%;
      flex-wrap: wrap;
      justify-content: center;
      padding: 10px;
      .item{
        background-color: white;
        padding:5px;
        margin: 10px;
        border-radius: 5px
      }
    }
  }
  .footer{
    @extend .header;
    font-size: medium;
    color: rgb(22, 22, 22);
  }
}